<!-- Parallax -->
<div class="js__parallax-window" style="background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(assets/img/team-photo.jpg) 50% 0 no-repeat fixed; background-size: cover;">
    <div class="container g-text-center--xs g-padding-y-80--xs g-padding-y-125--sm">
        <div class="g-margin-b-100--xs">
            <div class="g-text-center--xs g-margin-b-50--xs">
                <div class="g-margin-b-80--xs">
                    <h2 class="g-font-size-40--xs g-font-size-50--sm g-font-size-60--md g-color--white">Passion & Knowledge.</h2>
                </div>
            </div>
            <a ui-sref="contact" class="text-uppercase s-btn s-btn-icon--md s-btn--primary-brd g-radius--50 g-padding-x-90--xs s-btn-margin-20">Contact Us</a>
            <a href="https://goo.gl/r1u4eg" target="_blank" class="text-uppercase s-btn s-btn-icon--md s-btn--primary-brd g-radius--50 g-padding-x-30--xs s-btn-margin-20">Join the Education Team!</a>
        </div>
    </div>
</div>
<!-- End Parallax -->

<!-- Culture -->
<div class="g-promo-section g-bg-color--sky-light">
    <div class="container g-padding-y-80--xs g-padding-y-125--sm">
        <div class="row">
            <div class="col-md-4 g-margin-t-15--xs g-margin-b-60--xs g-margin-b-0--lg">
                <p class="text-uppercase g-font-size-14--xs g-font-weight--700 g-color--primary g-letter-spacing--2 g-margin-b-25--xs">Culture</p>
                <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".1s">
                    <h2 class="g-font-size-40--xs g-font-size-50--sm g-font-size-60--md">Our</h2>
                </div>
                <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".3s">
                    <h2 class="g-font-size-40--xs g-font-size-50--sm g-font-size-60--md">Mission</h2>
                </div>
            </div>
            <div class="col-md-6">
                <p class="g-font-size-18--xs">Our goal, as a team, is to construct different educational programs targeted for Elementary School, High School, CEGEP, but also for general public. We want to show, by the means of teaching, that the future of space is not only reserved to astronauts, physicists and engineers. It is also a future that has a need for other disciplines such as Law, Politics, Finance, and many more.</p>
                <p class="g-font-size-18--xs">By making this a priority in the classroom, we make sure that every young student gets to know what they can really bring to the table. Our project aims to spark the interest of space in schools, and show that space is not just another farfetched, or even impossible, dream.</p>
            </div>
        </div>
    </div>
    <div class="col-sm-3 g-promo-section__img-right--lg g-bg-position--center g-height-100-percent--md" style="top:20%;">
        <img class="img-responsive" src="assets/img/logos/logo_education.png" style="width:60%; position:relative; right:-50px;" alt="Image">
    </div>
</div>
<!-- End Culture -->

<!-- Speakers -->
<div class="container g-padding-y-80--xs g-padding-y-125--sm">
    <div class="row g-overflow--hidden">
        <div class="col-xs-12 g-full-width--xs g-margin-b-30--xs g-margin-b-0--lg">
          <!-- Speaker -->
          <div class="center-block g-box-shadow__dark-lightest-v1 g-width-100-percent--xs g-width-300--lg">
              <img class="img-responsive g-width-100-percent--xs" src="assets/img/head_shots/felix.png" alt="Felix Valin Headshot">
              <div class="g-position--overlay g-padding-x-30--xs g-padding-y-30--xs g-margin-t-o-60--xs">
                  <div class="g-bg-color--primary g-padding-x-15--xs g-padding-y-10--xs g-margin-b-20--xs">
                      <h4 class="g-font-size-22--xs g-font-size-26--sm g-color--white g-margin-b-0--xs">Felix Antoine Valin</h4>
                  </div>
                  <p class="g-font-weight--700">Education Director <br>3rd Year, Physics</p>
                  <p>Since always, education has been a passion of mine. Over the years, we've encountered kids with a thirst for space exploration and we need to let them know that it is not a field reserved for engineers and physicists. <br><Br>Anyone can join the space front!</p>
                  <p class="g-text-center--xs">
                    <a class="g-font-size-15--xs g-color--primary" target="_blank" href="https://www.linkedin.com/in/felix-antoine-valin-98455b141/">LinkedIn</a>
                    &nbsp;&bull;&nbsp;
                    <a class="g-font-size-15--xs g-color--primary" target="_blank" href="https://github.com/felixvalin/">GitHub</a>
                  </p>
              </div>
          </div>
          <!-- End Speaker -->
        </div>
        <!-- <div class="col-xs-4 g-full-width--xs"> -->
          <!-- Speaker -->
          <!-- <div class="center-block g-box-shadow__dark-lightest-v1 g-width-100-percent--xs g-width-300--lg">
              <img class="img-responsive g-width-100-percent--xs" src="assets/img/head_shots/oumnia.png" alt="Oumnia Bazi Headshot">
              <div class="g-position--overlay g-padding-x-30--xs g-padding-y-30--xs g-margin-t-o-60--xs">
                  <div class="g-bg-color--primary g-padding-x-15--xs g-padding-y-10--xs g-margin-b-20--xs">
                      <h4 class="g-font-size-22--xs g-font-size-26--sm g-color--white g-margin-b-0--xs">Oumnia Bazi</h4>
                  </div>
                  <p class="g-font-weight--700">Space and Science Advisor <br> 4th Year, Physics</p>
                  <p>Working on fun presentations/activities/workshops  to mimic physics concepts. My goals are to make students appreciate the physics in their daily activities, seek their curiosity about what is around them,  and make them understand that it is accessible to everyone. </p>
                  <p class="g-text-center--xs">
                    <a class="g-font-size-15--xs g-color--primary" target="_blank" href="https://www.linkedin.com/in/oumnia-bazi-036862145/">LinkedIn</a>
                  </p>
              </div>
          </div> -->
          <!-- End Speaker -->
        <!-- </div> -->
        <!-- <div class="col-xs-4 g-full-width--xs"> -->
            <!-- Speaker -->
            <!-- <div class="center-block g-box-shadow__dark-lightest-v1 g-width-100-percent--xs g-width-300--lg">
                <img class="img-responsive g-width-100-percent--xs" src="assets/img/head_shots/julien.png" alt="Julien Morizio Headshot">
                <div class="g-position--overlay g-padding-x-30--xs g-padding-y-30--xs g-margin-t-o-60--xs">
                    <div class="g-bg-color--primary g-padding-x-15--xs g-padding-y-10--xs g-margin-b-20--xs">
                        <h4 class="g-font-size-22--xs g-font-size-26--sm g-color--white g-margin-b-0--xs">Julien Morizio</h4>
                    </div>
                    <p class="g-font-weight--700">Education Advisor<br>3rd year, Education</p>
                    <p>Julien is nearing the completion of a bachelor's degree in Secondary Education (English Language Arts &amp; Mathematics) at McGill University. As a future educator, he seeks to learn what constitutes the well-being of the individual.</p>
                </div>
            </div> -->
            <!-- End Speaker -->
        <!-- </div> -->
    </div>
</div>
<!-- End Speakers -->

<!--
<!-- Speakers
<div class="container g-padding-y-80--xs g-padding-y-125--sm">
    <div class="row g-overflow--hidden">
        <div class="col-xs-4 g-full-width--xs g-margin-b-30--xs g-margin-b-0--lg">
            <!-- Speaker
            <div class="center-block g-box-shadow__dark-lightest-v1 g-width-100-percent--xs g-width-400--lg">
                <img class="img-responsive g-width-100-percent--xs" src="assets/img/head_shots/oumnia.jpg" alt="Image">
                <div class="g-position--overlay g-padding-x-30--xs g-padding-y-30--xs g-margin-t-o-60--xs">
                    <div class="g-bg-color--primary g-padding-x-15--xs g-padding-y-10--xs g-margin-b-20--xs">
                        <h4 class="g-font-size-22--xs g-font-size-26--sm g-color--white g-margin-b-0--xs">Oumnia Bazi</h4>
                    </div>
                    <p class="g-font-weight--700">Space and Science Advisor</p>
                    <p></p>
                </div>
            </div>
            <!-- End Speaker
        </div>
        <div class="col-xs-4 g-full-width--xs">
            <!-- Speaker
            <div class="center-block g-box-shadow__dark-lightest-v1 g-width-100-percent--xs g-width-400--lg">
                <img class="img-responsive g-width-100-percent--xs" src="assets/img/head_shots/felix.png" alt="Image">
                <div class="g-position--overlay g-padding-x-30--xs g-padding-y-30--xs g-margin-t-o-60--xs">
                    <div class="g-bg-color--primary g-padding-x-15--xs g-padding-y-10--xs g-margin-b-20--xs">
                        <h4 class="g-font-size-22--xs g-font-size-26--sm g-color--white g-margin-b-0--xs">Félix-Antoine Valin</h4>
                    </div>
                    <p class="g-font-weight--700">Education Director</p>
                    <p></p>
                </div>
            </div>
            <!-- End Speaker
        </div>
        <div class="col-xs-4 g-full-width--xs">
            <!-- Speaker
            <div class="center-block g-box-shadow__dark-lightest-v1 g-width-100-percent--xs g-width-400--lg">
                <img class="img-responsive g-width-100-percent--xs" src="assets/img/head_shots/julien.png" alt="Image">
                <div class="g-position--overlay g-padding-x-30--xs g-padding-y-30--xs g-margin-t-o-60--xs">
                    <div class="g-bg-color--primary g-padding-x-15--xs g-padding-y-10--xs g-margin-b-20--xs">
                        <h4 class="g-font-size-22--xs g-font-size-26--sm g-color--white g-margin-b-0--xs">Julien Morizio</h4>
                    </div>
                    <p class="g-font-weight--700">Education Advisor</p>
                    <p></p>
                </div>
            </div>
            <!-- End Speaker
        </div>

    </div>
</div>
<!-- End Speakers -->
