<!--========== PROMO BLOCK ==========-->
<div>
    <div class="container g-padding-y-125--xs">
        <div class="g-padding-y-50--xs">
            <h1 class="g-font-size-35--xs g-font-size-55--sm g-font-size-70--lg">Our Sponsors</h1>
            <p class="g-font-size-22--xs g-font-size-24--md g-margin-b-0--xs">Help take us to new heights.</p>
            <p class="g-font-size-22--xs g-font-size-24--md g-margin-b-0--xs">We would like to thank our sponsors for their help.</p>
        </div>
        <div>
          <img src="/assets/img/banners/Render10.png" style="position: absolute; width: 50%; right: -100px; top: 10%;">
        </div>
        <!== SPONSORS LOGOS ==-->
        <div class="g-padding-y-50--xs"> 
          <img src="/assets/img/sponsors/eus_logo.png" style="position: relative; width: 15%; right: -80px; top: 0%;"> 
          <img src="/assets/img/sponsors/MESC.png" style="position: relative; width: 30%; right: -120px; top: 0%;"> 
          <img src="/assets/img/sponsors/miae.jpg" style="position: relative; width: 40%; right: -160px; top: 0%;">
          <img src="/assets/img/sponsors/ngc.jpg" style="position: relative; width: 30%; right: -450px; top: 0%;">   
        </div>
    </div>
</div>
<!--========== END PROMO BLOCK ==========-->
