<!--========== PAGE CONTENT ==========-->

<!-- Counter -->
<div class="js__parallax-window" style="background: url(assets/img/banners/space-shuttle-launch.png) 100% 50% fixed; background-size: cover;">
    <div class="container g-padding-y-80--xs g-padding-y-125--sm">
        <div class="g-text-center--xs g-margin-b-80--xs">
            <p class="text-uppercase g-font-size-14--xs g-font-weight--700 g-color--primary g-letter-spacing--2 g-margin-b-25--xs">Facts in Numbers</p>
            <h2 class="g-font-size-32--xs g-font-size-36--md g-font-family--playfair g-letter-spacing--1 g-color--white">You Can Make Us Better</h2>
        </div>
        <div class="row g-margin-b-80--xs">
            <div class="col-md-3 col-xs-6 g-full-width--xs g-margin-b-70--xs g-margin-b-0--lg">
                <div class="g-text-center--xs">
                    <div class="g-margin-b-10--xs">
                        <figure class="g-display-inline-block--xs g-font-size-70--xs g-font-family--playfair g-color--primary js__counter">80</figure>
                    </div>
                    <div class="center-block g-hor-divider__solid--white g-width-40--xs g-margin-b-25--xs"></div>
                    <h4 class="g-font-size-18--xs g-color--white">Members</h4>
                </div>
            </div>
            <div class="col-md-3 col-xs-6 g-full-width--xs g-margin-b-70--xs g-margin-b-0--lg">
                <div class="g-text-center--xs">
                    <figure class="g-display-block--xs g-font-size-70--xs g-font-family--playfair g-color--primary g-margin-b-10--xs js__counter">6</figure>
                    <div class="center-block g-hor-divider__solid--white g-width-40--xs g-margin-b-25--xs"></div>
                    <h4 class="g-font-size-18--xs g-color--white">Sub-Divisions</h4>
                </div>
            </div>
            <div class="col-md-3 col-xs-6 g-full-width--xs g-margin-b-70--xs g-margin-b-0--sm">
                <div class="g-text-center--xs">
                    <figure class="g-display-block--xs g-font-size-70--xs g-font-family--playfair g-color--primary g-margin-b-10--xs js__counter">3</figure>
                    <div class="center-block g-hor-divider__solid--white g-width-40--xs g-margin-b-25--xs"></div>
                    <h4 class="g-font-size-18--xs g-color--white">Technical Projects</h4>
                </div>
            </div>
            <div class="col-md-3 col-xs-6 g-full-width--xs">
                <div class="g-text-center--xs">
                    <div class="g-margin-b-10--xs">
                        <figure class="g-display-inline-block--xs g-font-size-70--xs g-font-family--playfair g-color--primary js__counter">4.5</figure>
                        <span class="g-font-size-40--xs g-font-family--playfair g-color--primary">k</span>
                    </div>
                    <div class="center-block g-hor-divider__solid--white g-width-40--xs g-margin-b-25--xs"></div>
                    <h4 class="g-font-size-18--xs g-color--white">People engaged</h4>
                </div>
            </div>
        </div>
        <div class="g-text-center--xs">
            <a href="assets/files/Sponsorship_Package_v4.pdf" target="_blank" class="text-uppercase s-btn s-btn-icon--md s-btn--primary-brd g-radius--50 g-padding-x-60--xs">Sponsorship Package</a>
        </div>
    </div>
</div>
<!-- End Counter -->


<!-- Feedback Form -->
<div class="g-position--relative">
    <div class="g-container--md g-padding-y-125--xs">
        <div class="g-text-center--xs g-margin-t-50--xs g-margin-b-80--xs">
            <p class="text-uppercase g-font-size-14--xs g-font-weight--700 g-color--primary g-letter-spacing--2 g-margin-b-25--xs">Contact Us</p>
            <h2 class="g-font-size-32--xs g-font-size-36--sm">Get in Touch</h2>
        </div>
        <div class="row g-row-col--5 g-margin-b-80--xs">
            <div class="col-xs-4 g-full-width--xs g-margin-b-50--xs g-margin-b-0--sm">
                <div class="g-text-center--xs">
                    <i class="g-display-block--xs g-color--primary g-font-size-40--xs g-margin-b-30--xs ti-email"></i>
                    <h4 class="g-font-size-18--xs g-color--white g-margin-b-5--xs">Email</h4>
                    <p>competitions.mssg@gmail.com</p>
                </div>
            </div>
            <div class="col-xs-4 g-full-width--xs g-margin-b-50--xs g-margin-b-0--sm">
                <div class="g-text-center--xs">
                    <i class="g-display-block--xs g-color--primary g-font-size-40--xs g-margin-b-30--xs ti-map-alt"></i>
                    <h4 class="g-font-size-18--xs g-color--white g-margin-b-5--xs">Address</h4>
                    <p>817 Sherbrooke West, MD 270 <br>Montreal, QC, H3A0C3, Canada </p>
                </div>
            </div>
            <div class="col-xs-4 g-full-width--xs">
                <div class="g-text-center--xs">
                    <i class="g-display-block--xs g-color--primary g-font-size-40--xs g-margin-b-30--xs ti-headphone-alt"></i>
                    <h4 class="g-font-size-18--xs g-color--white g-margin-b-5--xs">Call at</h4>
                    <p>McGill Faculty of Engineering <br>+ (1) 514-398-8664</p>
                </div>
            </div>
        </div>
    </div>
    <img class="s-mockup-v2" src="img/mockups/pencil-01.png" alt="Mockup Image">
</div>
<!-- End Feedback Form -->
<!--========== END PAGE CONTENT ==========-->
