<!-- News -->
<div class="container">
    <div class="g-text-center--xs g-margin-b-80--xs">
        <h3 class="text-uppercase g-font-size-16--xs g-font-weight--700 g-color--primary g-letter-spacing--2 g-margin-b-25--xs">About Us</h3>
        <h2 class="g-font-size-32--xs g-font-size-36--md">Meet the Teams</h2>
    </div>
    <div class="row">
        <div class="col-sm-4 g-margin-b-30--xs g-margin-b-0--md">
            <!-- News -->
            <article ui-sref="about/mssg">
                <img class="img-responsive" src="assets/img/logos/logo_mssg.png" alt="Image">
                <div class="g-bg-color--white g-box-shadow__dark-lightest-v2 g-text-center--xs g-padding-x-40--xs g-padding-y-40--xs">
                    <p class="text-uppercase g-font-size-16--xs g-font-weight--700 g-color--primary g-letter-spacing--2">MSG</p>
                    <h3 class="g-font-size-22--xs g-letter-spacing--1"><a ui-sref="about-mssg">Better Together.</a></h3>
                    <p>Building capabilities for the future, today.</p>
                </div>
            </article>
            <!-- End News -->
        </div>
        <div class="col-sm-4 g-margin-b-30--xs g-margin-b-0--md">
            <!-- News -->
            <article ui-sref="about/csdc">
                <img class="img-responsive" src="assets/img/logos/logo_csdc.png" alt="Image">
                <div class="g-bg-color--white g-box-shadow__dark-lightest-v2 g-text-center--xs g-padding-x-40--xs g-padding-y-40--xs">
                    <p class="text-uppercase g-font-size-16--xs g-font-weight--700 g-color--primary g-letter-spacing--2">CSDC</p>
                    <h3 class="g-font-size-22--xs g-letter-spacing--1"><a ui-sref="about-csdc">Learn By Doing.</a></h3>
                    <p>Design, build, test and launch a 3U CubeSat with a star tracker payload to participate in the Canadian Satellite Design Challenge (CSDC).</p>
                </div>
            </article>
            <!-- End News -->
        </div>
        <div class="col-sm-4">
            <!-- News -->
            <article>
                <img class="img-responsive" src="assets/img/logos/logo_education.png" alt="Image">
                <div class="g-bg-color--white g-box-shadow__dark-lightest-v2 g-text-center--xs g-padding-x-40--xs g-padding-y-40--xs">
                    <p class="text-uppercase g-font-size-16--xs g-font-weight--700 g-color--primary g-letter-spacing--2">Education</p>
                    <h3 class="g-font-size-22--xs g-letter-spacing--1"><a ui-sref="about-education">Passion & Knowledge.</a></h3>
                    <p>Demystifying outer space, to bring it into the classroom.</p>
                </div>
            </article>
            <!-- End News -->
        </div>
    </div>
    <!-- <div class="row">
      <p></p>
    </div> -->
    <div class="row g-padding-y-80--xs g-padding-y-125--sm">
        <div class="col-sm-4 g-margin-b-30--xs g-margin-b-0--md">
            <!-- News -->
            <article ui-sref="about/conferences">
                <img class="img-responsive" src="assets/img/logos/logo_conferences.png" alt="Image">
                <div class="g-bg-color--white g-box-shadow__dark-lightest-v2 g-text-center--xs g-padding-x-40--xs g-padding-y-40--xs">
                    <p class="text-uppercase g-font-size-16--xs g-font-weight--700 g-color--primary g-letter-spacing--2">Conferences</p>
                    <h3 class="g-font-size-22--xs g-letter-spacing--1"><a ui-sref="about-conferences">Create Something Great.</a></h3>
                    <p></p>
                </div>
            </article>
            <!-- End News -->
        </div>
        <div class="col-sm-4 g-margin-b-30--xs g-margin-b-0--md">
            <!-- News -->
            <article ui-sref="about/policy">
                <img class="img-responsive" src="assets/img/logos/logo_policy.png" alt="Image">
                <div class="g-bg-color--white g-box-shadow__dark-lightest-v2 g-text-center--xs g-padding-x-40--xs g-padding-y-40--xs">
                    <p class="text-uppercase g-font-size-16--xs g-font-weight--700 g-color--primary g-letter-spacing--2">Policy</p>
                    <h3 class="g-font-size-22--xs g-letter-spacing--1"><a ui-sref="about-policy">Pave The Way.</a></h3>
                    <p>Understanding the political and economic framework of space development.</p>
                </div>
            </article>
            <!-- End News -->
        </div>
        <div class="col-sm-4">
            <!-- News -->
            <article>
                <img class="img-responsive" src="assets/img/logos/logo_research.png" alt="Image">
                <div class="g-bg-color--white g-box-shadow__dark-lightest-v2 g-text-center--xs g-padding-x-40--xs g-padding-y-40--xs">
                    <p class="text-uppercase g-font-size-16--xs g-font-weight--700 g-color--primary g-letter-spacing--2">Research</p>
                    <h3 class="g-font-size-22--xs g-letter-spacing--1"><a ui-sref="about-research">Aiming Higher.</a></h3>
                    <p></p>
                </div>
            </article>
            <!-- End News -->
        </div>
    </div>
</div>
<!-- End News -->
