<!--========== SWIPER SLIDER ==========-->
<div>
    <!-- Swiper Wrapper -->
      <div class="g-fullheight--xs g-bg-position--center swiper-slide" style="background: url('/assets/img/banners/cubesat_banner2.png');">
          <!-- <div style="width:100%; height:100%; background: url('/assets/img/banners/cubesat_banner.png'); -webkit-filter: grayscale(80%);"></div> -->
          <div class="container g-text-center--xs g-ver-center--xs">
              <div class="g-margin-b-30--xs">
                  <p class="text-uppercase g-font-size-18--xs g-font-weight--700 g-color--primary g-letter-spacing--2 g-margin-b-25--xs" style="margin-bottom:0px;">Welcome to the MSG</p>
                  <h1 class="g-font-size-35--xs g-font-size-60--sm g-font-size-55--md g-color--white">McGill Space Group</h1>
                  <br>
                  <a href="https://forms.gle/yVTQSs3QrAHkxfya9" target="_blank" class="text-uppercase s-btn s-btn-icon--md s-btn--primary-brd g-radius--50 g-padding-x-20--xs s-btn-margin-15"style="margin-bottom:0px; font-size:18px" >Join The Team !</a>
                  <br></br>
                  <a href="https://goo.gl/forms/7oYqgJUBSgFLS3R52" target="_blank" class="text-uppercase s-btn s-btn-icon--md s-btn--primary-brd g-radius--50 g-padding-x-20--xs s-btn-margin-15"style="margin-bottom:0px; font-size:18px" >Subscribe to the MSG !</a>
          </div>
      </div>
    <!-- End Swiper Wrapper -->

    <a href="#js__scroll-to-section" class="s-scroll-to-section-v1--bc g-margin-b-15--xs">
        <span class="g-font-size-18--xs g-color--white ti-angle-double-down"></span>
        <p class="text-uppercase g-color--white g-letter-spacing--3 g-margin-b-0--xs">Lift Off</p>
    </a>
</div>
<!--========== END SWIPER SLIDER ==========-->
