<!--========== PAGE CONTENT ==========-->
<div id="js__scroll-to-section" class="row g-row-col--0">
    <div class="col-sm-4">
        <div class="g-text-center--xs g-padding-x-30--xs g-padding-x-50--lg g-padding-y-70--xs">
            <i class="g-display-block--xs g-font-size-40--sm g-color--primary g-margin-b-30--xs ti-heart-broken"></i>

            <h2 class="g-font-size-26--xs g-font-family--playfair">Our Teams</h2>
            <ul class="list-unstyled g-ul-li-tb-3--xs">
                <li><a ui-sref="about-mssg">MSG</a></li>
                <li><a ui-sref="about-csdc">CSDC</a></li>
                <li><a ui-sref="about-education">Education</a></li>
                <li><a ui-sref="about-policy">Policy</a></li>
                <li><a ui-sref="coming_soon">Conferences</a></li>
            </ul>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="g-bg-color--sky-light g-text-center--xs g-padding-x-30--xs g-padding-x-50--lg g-padding-y-70--xs">
            <i class="g-display-block--xs g-font-size-40--sm g-color--primary g-margin-b-30--xs ti-settings"></i>

            <h2 class="g-font-size-26--xs g-font-family--playfair">Technical Projects</h2>
            <ul class="list-unstyled g-ul-li-tb-3--xs">
                <li><a ui-sref="">High Altitude Balloon</a></li>
                <li><a ui-sref="">Low Cost Star Tracker</a></li>
                <li><a ui-sref="">CSA 2U CubeSat</a></li>
                <li><a ui-sref="">Communications System</a></li>
            </ul>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="g-text-center--xs g-padding-x-30--xs g-padding-x-50--lg g-padding-y-70--xs">
            <i class="g-display-block--xs g-font-size-40--sm g-color--primary g-margin-b-30--xs ti-rocket"></i>

            <h2 class="g-font-size-26--xs g-font-family--playfair">Other Initiatives</h2>
            <ul class="list-unstyled g-ul-li-tb-3--xs">
                <li><a ui-sref="">TEDxMcGill</a></li>
                <li><a ui-sref="">Montreal Space Symposium</a></li>
                <li><a ui-sref="">NASA Space Apps</a></li>
            </ul>
        </div>
    </div>
</div>
</div>
<!-- End Service -->

<!-- Parallax -->
<div class="js__parallax-window" style="background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(assets/img/team-photo.jpg) 50% 0 no-repeat fixed; background-size: cover;">
    <div class="container g-text-center--xs g-padding-y-80--xs g-padding-y-125--sm">
        <div class="g-margin-b-100--xs contact-join-btn">
            <div class="g-text-center--xs g-margin-b-50--xs">
                <!-- <p class="text-uppercase g-font-size-14--xs g-font-weight--700 g-color--primary g-letter-spacing--2 g-margin-b-25--xs">Welcome to the MSG</p> -->
                <h2 class="g-font-size-40--xs g-font-size-50--sm g-font-size-60--md g-font-family--playfair g-color--white">Building Capabilities for <br> the Future, Today.</h2>
            </div>
            <a ui-sref="contact" class="text-uppercase s-btn s-btn-icon--md s-btn--primary-brd g-radius--50 g-padding-x-80--xs  s-btn-margin-20">Contact Us</a>

            <a href="https://goo.gl/forms/5kBJ64MIaXrey9hk1" target="_blank" class="text-uppercase s-btn s-btn-icon--md s-btn--primary-brd g-radius--50 g-padding-x-45--xs s-btn-margin-20">Join the CSDC team!</a>


        </div>
    </div>
</div>
<!-- End Parallax -->
<!--========== END PAGE CONTENT ==========-->
