<!--========== PAGE CONTENT ==========-->
<div class="g-bg-position--center g-fullheight--xs" style="background: url('assets/img/renders/Render8.png');">
    <div class="container js__ver-center-aligned">
        <div class="g-text-center--xs">
            <div class="g-margin-t-40--xs g-margin-b-60--xs g-margin-b-80--sm">
                <h1 class="g-font-size-32--xs g-font-size-50--sm g-font-size-60--md g-margin-b-30--xs">Sponsorship</h1>
            </div>
            <form>
                <button type="button" class="text-uppercase s-btn s-btn--md s-btn--dark-brd g-radius--50 g-padding-x-50--xs g-margin-b-20--xs"><a href ="assets/files/Sponsorship_Package_v4.pdf" target="_blank">Download Sponsorship Package</a></button>
            </form>
        </div>
    </div>
</div>
<!--========== END PAGE CONTENT ==========-->
