<!--========== HEADER V2 ==========-->
<header class="navbar-fixed-top s-header-v2 js__header-sticky">
    <!-- Navbar -->
    <nav class="s-header-v2__navbar">
        <div class="container g-display-table--lg">
            <!-- Navbar Row -->
            <div class="s-header-v2__navbar-row">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="s-header-v2__navbar-col">
                    <button type="button" class="collapsed s-header-v2__toggle" data-toggle="collapse" data-target="#nav-collapse" aria-expanded="false">
                        <span class="s-header-v2__toggle-icon-bar"></span>
                    </button>
                </div>

                <div class="s-header-v2__navbar-col s-header-v2__navbar-col-width--180">
                    <!-- Logo -->
                    <div class="s-header-v2__logo">
                        <a ui-sref="index" class="s-header-v2__logo-link">
                            <img class="s-header-v2__logo-img s-header-v2__logo-img--default" src="/assets/img/logo/logo_mssg.png" alt="MSSG Logo" style="width: 60px;">
                            <img class="s-header-v2__logo-img s-header-v2__logo-img--shrink" src="/assets/img/logo/logo_mssg.png" alt="MSSG Logo" style="width: 60px;">
                        </a>
                    </div>
                    <!-- End Logo -->
                </div>

                <div class="s-header-v2__navbar-col s-header-v2__navbar-col--right">
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse s-header-v2__navbar-collapse" id="nav-collapse">
                        <ul class="s-header-v2__nav">
                            <!-- Home -->
                            <li class="s-header-v2__nav-item"><a ui-sref="index" class="s-header-v2__nav-link">Home</a></li>

                            <!-- End Home -->

                            <li class="dropdown s-header-v2__nav-item s-header-v2__dropdown-on-hover">
                                <a ui-sref="about" class="dropdown-toggle s-header-v2__nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About Us <span class="g-font-size-10--xs g-margin-l-5--xs ti-angle-down"></span></a>
                                <ul class="dropdown-menu s-header-v2__dropdown-menu">
                                    <li><a ui-sref="about-mssg" class="s-header-v2__dropdown-menu-link">MSSG</a></li>
                                    <li><a ui-sref="about-csdc" class="s-header-v2__dropdown-menu-link">CSDC Team</a></li>
                                    <li><a ui-sref="about-education" class="s-header-v2__dropdown-menu-link">Education Team</a></li>
                                    <li><a ui-sref="about-policy" class="s-header-v2__dropdown-menu-link">Policy Team</a></li>
                                    <li><a ui-sref="coming_soon" class="s-header-v2__dropdown-menu-link">Conferences Team</a></li>
                                    <li><a ui-sref="about-contact" class="s-header-v2__dropdown-menu-link">Contact</a></li>
                                </ul>
                            </li>

                            <li class="dropdown s-header-v2__nav-item s-header-v2__dropdown-on-hover">
                                <a href="javascript:void(0);" class="dropdown-toggle s-header-v2__nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Our Work <span class="g-font-size-10--xs g-margin-l-5--xs ti-angle-down"></span></a>
                                <ul class="dropdown-menu s-header-v2__dropdown-menu">
                                    <li><a ui-sref="coming_soon" class="s-header-v2__dropdown-menu-link">Design Projects</a></li>
                                    <li><a ui-sref="coming_soon" class="s-header-v2__dropdown-menu-link">Academic Papers</a></li>
                                </ul>
                            </li>

                            <li class="dropdown s-header-v2__nav-item s-header-v2__dropdown-on-hover">
                                <a href="javascript:void(0);" class="dropdown-toggle s-header-v2__nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Competitions <span class="g-font-size-10--xs g-margin-l-5--xs ti-angle-down"></span></a>
                                <ul class="dropdown-menu s-header-v2__dropdown-menu">
                                    <li><a ui-sref="coming_soon" class="s-header-v2__dropdown-menu-link">CSDC</a></li>
                                    <li><a ui-sref="coming_soon" class="s-header-v2__dropdown-menu-link">SEDS</a></li>
                                </ul>
                            </li>

                            <li class="s-header-v2__nav-item"><a ui-sref="coming_soon" class="s-header-v2__nav-link">Sponsorships</a></li>
                        </ul>
                    </div>
                    <!-- End Nav Menu -->
                </div>
            </div>
            <!-- End Navbar Row -->
        </div>
    </nav>
    <!-- End Navbar -->
</header>
<!--========== END HEADER V2 ==========-->
