<!--========== PROMO BLOCK ==========-->
<div>
    <div class="container g-padding-y-50--xs" style = "margin-top:75px">
        <div class="g-padding-y-50--xs">
            <h1 class="g-font-size-35--xs g-font-size-55--sm g-font-size-70--lg">CSDC Team</h1>
            <p class="g-font-size-22--xs g-font-size-24--md g-margin-b-0--xs">Design, build, test and launch a 3U CubeSat in lower earth orbit with an Earth observing payload <br> to participate in the Canadian Satellite Design Challenge (CSDC).</p>
        </div>
    </div>
</div>
<!--========== END PROMO BLOCK ==========-->
