<!-- Parallax -->
<div class="js__parallax-window" style="background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(assets/img/team-photo.jpg) 50% 0 no-repeat fixed; background-size: cover;">
    <div class="container g-text-center--xs g-padding-y-80--xs g-padding-y-125--sm">
        <div class="g-margin-b-0--xs">
            <div class="g-text-center--xs g-margin-b-50--xs">
                <div class="g-margin-b-80--xs">
                    <h2 class="g-font-size-40--xs g-font-size-50--sm g-font-size-60--md g-color--white">Learn by Doing.</h2>
                </div>
            </div>
            <a ui-sref="contact" class="text-uppercase s-btn s-btn-icon--md s-btn--primary-brd g-radius--50 g-padding-x-60--xs s-btn-margin-20">Contact Us</a>
        </div>
    </div>
</div>
<!-- End Parallax -->

<!-- Culture -->
<div class="g-promo-section g-bg-color--sky-light">
    <div class="container g-padding-y-40--xs g-padding-y-40--sm">
        <div class="row">
            <div class="col-md-4 g-margin-t-15--xs g-margin-b-60--xs g-margin-b-0--lg">
                <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".1s">
                    <h2 class="g-font-size-40--xs g-font-size-50--sm g-font-size-60--md" style = "margin-top:12%">Our</h2>
                </div>
                <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".3s">
                    <h2 class="g-font-size-40--xs g-font-size-50--sm g-font-size-60--md" style = "margin-top:7%">Mission</h2>
                </div>
            </div>
            <div class="col-md-6" >
                <p class="g-font-size-18--xs">The MSG believes that one of the most adequate methods of learning engineering is by working on projects thereby learning the design process in a team. The CSDC group provides the opportunity for students to learn through designing and building. By competing in the CSDC, students gain experience in many engineering disciplines, they will learn how to work in a team and will gain various soft skills.</p>
                <p class="g-font-size-18--xs">The MSG CSDC Team works to design, build, test and potentially launch a 3U CubeSat in lower earth orbit with a star tracker payload, and participate in the Canadian Satellite Design Challenge.</p>
            </div>
            <div class="col-sm-3 g-promo-section__img-right--lg g-bg-position--center g-height-100-percent--md" style="top:20%; width:200px; height:200px">
                <img class="img-responsive" src="assets/img/logo/MSG_Logo_full.png" alt="Image">
            </div>
        </div>
    </div>
</div>
<!-- End Culture -->

<!-- Speakers -->
<div class="container g-padding-y-80--xs g-padding-y-125--sm">
    <div class="row g-overflow--hidden">
      <div class="col-xs-4 g-full-width--xs">
          <div class="center-block g-box-shadow__dark-lightest-v1 g-width-100-percent--xs g-width-350--lg">
          <img class="img-responsive g-width-100-percent--xs" src="assets/img/head_shots/mashood.png" alt="Image" style = "width:170px; height:200px">
          <div class="g-position--overlay g-padding-x-30--lg g-padding-y-30--xs g-margin-t-o-60--xs">
              <div class="g-bg-color--primary g-padding-x-10--xs g-padding-y-5--xs g-margin-b-5--xs" style = "margin:auto; width:180px; height: 30px"">
              <h4 class="g-font-size-16--xs g-font-size-18--sm g-color--white g-margin-b-0--xs">Mashood Ahmed</h4>
            </div>
            <p class="g-font-weight--700" style = "padding-top:5px">Director<br>4th Year, Electrical & Software Eng. Major</p>
            <p>As Team Leader, I oversee the different groups within the MSG and make sure once our satellite is up in space, we don’t ever have to say “Uh, Houston, we've had a problem”. Given the complex design of each subsystem, one of my primary roles is to ensure that the overall architecture of our spacecraft is feasible and technically sound. I can’t wait to get our first CubeSat launched into space.</p>
            <p class="g-text-center--xs">
              <a class="g-font-size-15--xs g-color--primary" target="_blank" href="https://www.linkedin.com/in/amashood/">LinkedIn</a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-xs-4 g-full-width--xs">
          <div class="center-block g-box-shadow__dark-lightest-v1 g-width-100-percent--xs g-width-350--lg">
              <img class="img-responsive g-width-100-percent--xs" src="assets/img/head_shots/david.png" alt="Image" style = "width:185px; height:200px">
              <div class="g-position--overlay g-padding-x-30--lg g-padding-y-30--xs g-margin-t-o-60--xs">
                  <div class="g-bg-color--primary g-padding-x-10--xs g-padding-y-5--xs g-margin-b-5--xs" style = "margin:auto; width:195px; height: 30px"">
                      <h4 class="g-font-size-16--xs g-font-size-18--sm g-color--white g-margin-b-0--xs">David Castonguay</h4>
                  </div>
                  <p class="g-font-weight--700" style = "padding-top:5px">Technical Director<br>4th Year, Electrical & Aerospace Eng. Major</p>
                  <p>Being in the MSG is something that completely enhanced my time in McGill University.  I have been in the MSG for over 2 years and I am now the technical director for the power, software and structural subsystems.  The MSG has allowed me to learn from left to right about extracurricular knowledge I otherwise would have never known.</p>
              </div>
          </div>
      </div>
      <div class="col-xs-4 g-full-width--xs">
          <div class="center-block g-box-shadow__dark-lightest-v1 g-width-100-percent--xs g-width-350--lg">
              <img class="img-responsive g-width-100-percent--xs" src="assets/img/head_shots/youssef.png" alt="Image" style = "width:180px; height:200px">
              <div class="g-position--overlay g-padding-x-30--lg g-padding-y-30--xs g-margin-t-o-60--xs">
                  <div class="g-bg-color--primary g-padding-x-10--xs g-padding-y-5--xs g-margin-b-5--xs" style = "margin:auto; width:190px; height: 30px"">
                      <h4 class="g-font-size-16--xs g-font-size-18--sm g-color--white g-margin-b-0--xs">Youssef Bestavros</h4>
                  </div>
                  <p class="g-font-weight--700" style = "padding-top:5px">Technical Director<br>4th Year, Physics Major</p>
                  <p>My role in the MSG is to oversee the designing and the building of the Payload, Controls and Communications subteams. I am very driven and passionate about space exploration and the numerous applications within the space industry. My research interests include looking at exoplanets and trying to characterize their atmospheres and surface features, which can help us detect biosignatures in the future.</p>
                  <p class="g-text-center--xs">
                    <a class="g-font-size-15--xs g-color--primary" target="_blank" href="https://github.com/Joe1best">GitHub</a>
                  </p>
              </div>
          </div>
      </div>
      <div class="col-xs-4 g-full-width--xs">
          <div class="center-block g-box-shadow__dark-lightest-v1 g-width-100-percent--xs g-width-350--lg">
              <img class="img-responsive g-width-100-percent--xs" src="assets/img/head_shots/louis.png" alt="Image" style = "width:175px; height:200px">
              <div class="g-position--overlay g-padding-x-30--lg g-padding-y-30--xs g-margin-t-o-60--xs">
                  <div class="g-bg-color--primary g-padding-x-10--xs g-padding-y-5--xs g-margin-b-5--xs" style = "margin:auto; width:185px; height: 30px"">
                      <h4 class="g-font-size-16--xs g-font-size-18--sm g-color--white g-margin-b-0--xs">Louis Bacou</h4>
                  </div>
                  <p class="g-font-weight--700" style = "padding-top:5px">Finance Director<br>3rd Year, Finance & Business Analytics</p>
                  <p>I am still able to contribute to the team by taking care of budgeting, funding and other money-related activities, despite no engineering background and only basic scientific knowledge. In the future, I would enjoy working for a company involved in the Aerospace industry.; the MSG has helped me learn a lot about the Space industry.</p>
              </div>
          </div>
      </div>
      <div class="col-xs-4 g-full-width--xs">
        <!-- Speaker -->
        <div class="center-block g-box-shadow__dark-lightest-v1 g-width-100-percent--xs g-width-350--lg">
            <img class="img-responsive g-width-100-percent--xs" src="assets/img/head_shots/emilie.png" alt="Image" style = "width:170px; height:200px">
            <div class="g-position--overlay g-padding-x-30--lg g-padding-y-30--xs g-margin-t-o-60--xs">
                <div class="g-bg-color--primary g-padding-x-10--xs g-padding-y-5--xs g-margin-b-5--xs" style = "margin:auto; width:180px; height: 30px"">
                    <h4 class="g-font-size-16--xs g-font-size-18--sm g-color--white g-margin-b-0--xs">Emilie Lafleche</h4>
                </div>
                <p class="g-font-weight--700" style = "padding-top:5px">Education Director <br>U2 Honours <br>Earth and Planetary Sciences</p>
                <p>My interests include astrobiology, exoplanets, and communicating science to the public. My main goal for this team is to empower the next generation to pursue a career in space through outreach initiatives. I'd like to diversify our team of passionate and dedicated students in order to lead by example.</p>
            </div>
        </div>
      </div>
      <div class="col-xs-4 g-full-width--xs g-margin-b-30--xs g-margin-b-0--lg">
          <!-- Speaker -->
          <div class="center-block g-box-shadow__dark-lightest-v1 g-width-100-percent--xs g-width-350--lg">
              <img class="img-responsive g-width-100-percent--xs" src="assets/img/head_shots/numa.png" alt="Image" style = "width:160px; height:200px">
              <div class="g-position--overlay g-padding-x-30--lg g-padding-y-30--xs g-margin-t-o-60--xs">
                  <div class="g-bg-color--primary g-padding-x-10--xs g-padding-y-5--xs g-margin-b-5--xs" style = "margin:auto; width:170px; height: 30px"">
                      <h4 class="g-font-size-16--xs g-font-size-18--sm g-color--white g-margin-b-0--xs">Numa Karolinski</h4>
                  </div>
                  <p class="g-font-weight--700" style = "padding-top:5px">Payload Leader & Webmaster<br>5th Year Physics & Comp. Sci. Double Major</p>
                  <p>I'm interested in the future of astrophysics research, particularly the extremely unknown extremes of the universe. I am in charge of the camera and imaging done by the Cubesat; this means getting images to the on board computer via software. As the webmaster I am in charge of upkeeping the website you are currently browsing.</p>
                  <p class="g-text-center--xs">
                    <a class="g-font-size-15--xs g-color--primary" target="_blank" href="https://github.com/NumaKarolinski">GitHub</a>
                    &nbsp;&bull;&nbsp;
                    <a class="g-font-size-15--xs g-color--primary" target="_blank" href="https://numakarolinski.github.io/PersonalWebsite/">Website</a>
                  </p>
              </div>
          </div>
          <!-- End Speaker -->
      </div>
      <div class="col-xs-4 g-full-width--xs">
          <!-- Speaker -->
          <div class="center-block g-box-shadow__dark-lightest-v1 g-width-100-percent--xs g-width-350--lg">
              <img class="img-responsive g-width-100-percent--xs" src="assets/img/head_shots/megan.png" alt="Image" style = "width:180px; height:200px">
              <div class="g-position--overlay g-padding-x-30--lg g-padding-y-30--xs g-margin-t-o-60--xs">
                  <div class="g-bg-color--primary g-padding-x-10--xs g-padding-y-5--xs g-margin-b-5--xs" style = "margin:auto; width:190px; height: 30px"">
                      <h4 class="g-font-size-16--xs g-font-size-18--sm g-color--white g-margin-b-0--xs">Megan Cvitan</h4>
                  </div>
                  <p class="g-font-weight--700" style = "padding-top:5px">Communications Leader<br>4th Year Physics Major</p>
                  <p>I am committed to the implementation of the antenna in the satellite, as well as overseeing the design and manufacturing of the ground station.  I am fascinated with the underlying physics involved in space applications, and how it can materialize into a working satellite. I strive to be a role model for younger students as a woman in this field.</p>
              </div>
          </div>
          <!-- End Speaker -->
      </div>
      <div class="col-xs-4 g-full-width--xs">
          <!-- Speaker -->
          <div class="center-block g-box-shadow__dark-lightest-v1 g-width-100-percent--xs g-width-350--lg">
              <img class="img-responsive g-width-100-percent--xs" src="assets/img/head_shots/emmanuel.png" alt="Image" style = "width:180px; height:200px">
              <div class="g-position--overlay g-padding-x-30--lg g-padding-y-30--xs g-margin-t-o-60--xs">
                  <div class="g-bg-color--primary g-padding-x-10--xs g-padding-y-5--xs g-margin-b-5--xs" style = "margin:auto; width:190px; height: 30px"">
                      <h4 class="g-font-size-16--xs g-font-size-18--sm g-color--white g-margin-b-0--xs">Emmanuel Duplay</h4>
                  </div>
                  <p class="g-font-weight--700" style = "padding-top:5px">Attitude Determination & Control Leader<br>4th Year Mechanical Eng. Major</p>
                  <p>I’m in charge of making sure our satellite points in the right direction. As a long-timespace-exploration enthusiast, being part of the MSG is an exciting and challengingexperience, allowing me to get involved in spacecraft design as early as possible. If Ihad been told in high school that I could be designing an actual satellite as a collegestudent, I wouldn’t have believed it.</p>
              </div>
          </div>
          <!-- End Speaker -->
      </div>
      <div class="col-xs-4 g-full-width--xs">
          <!-- Speaker -->
          <div class="center-block g-box-shadow__dark-lightest-v1 g-width-100-percent--xs g-width-350--lg">
              <img class="img-responsive g-width-100-percent--xs" src="assets/img/head_shots/ignacio.png" alt="Image" style = "width:170px; height:200px">
              <div class="g-position--overlay g-padding-x-30--lg g-padding-y-30--xs g-margin-t-o-60--xs">
                  <div class="g-bg-color--primary g-padding-x-10--xs g-padding-y-5--xs g-margin-b-5--xs" style = "margin:auto; width:180px; height: 52px"">
                      <h4 class="g-font-size-16--xs g-font-size-18--sm g-color--white g-margin-b-0--xs">Ignacio Sada S&oacute;lomon</h4>
                  </div>
                  <p class="g-font-weight--700" style = "padding-top:5px">OBC & Software Leader<br>3rd Year Physics & Comp. Sci. Major</p>
                  <p>I focus on the development of the on-board computer of our CubeSat through the implementation of Embedded Systems in a STM32 dev board. My research interests include astroparticle physics in relation to blackholes and neutron stars, and cosmology in relation to early universe models. </p>
                  <p class="g-text-center--xs">
                    <a class="g-font-size-15--xs g-color--primary" target="_blank" href="https://www.linkedin.com/in/ignaciosadasolomon/">LinkedIn</a>
                    &nbsp;&bull;&nbsp;
                    <a class="g-font-size-15--xs g-color--primary" target="_blank" href="https://github.com/IgnacioSada">GitHub</a>
                    &nbsp;&bull;&nbsp;
                    <a class="g-font-size-15--xs g-color--primary" target="_blank" href="https://ignaciosadasolomon.com/">Website</a>
                  </p>
              </div>
          </div>
          <!-- End Speaker -->
      </div>
      <div class="col-xs-4 g-full-width--xs">
          <!-- Speaker -->
          <div class="center-block g-box-shadow__dark-lightest-v1 g-width-100-percent--xs g-width-350--lg">
              <img class="img-responsive g-width-100-percent--xs" src="assets/img/head_shots/chloe.png" alt="Image" style = "width:170px; height:200px">
              <div class="g-position--overlay g-padding-x-30--lg g-padding-y-30--xs g-margin-t-o-60--xs">
                  <div class="g-bg-color--primary g-padding-x-10--xs g-padding-y-5--xs g-margin-b-5--xs" style = "margin:auto; width:180px; height: 30px"">
                      <h4 class="g-font-size-16--xs g-font-size-18--sm g-color--white g-margin-b-0--xs">Chlo&eacute; Robeyns</h4>
                  </div>
                  <p class="g-font-weight--700" style = "padding-top:5px">Power Leader<br>4th Year Physics Major</p>
                  <p>Since joining the MSG I have been involved in the designing and building of the electrical power system of our satellite. Being a part of this group has given me more opportunities and experiences than I could have imagined when starting McGill and has motivated my interest in space and space exploration. I am keen to one day become a part of the space industry and be a role model for other young women in STEM.</p>
              </div>
          </div>
          <!-- End Speaker -->
      </div>
      <div class="col-xs-4 g-full-width--xs">
          <!-- Speaker -->
          <div class="center-block g-box-shadow__dark-lightest-v1 g-width-100-percent--xs g-width-350--lg">
              <img class="img-responsive g-width-100-percent--xs" src="assets/img/head_shots/rayane.png" alt="Image" style = "width:180px; height:200px">
              <div class="g-position--overlay g-padding-x-30--lg g-padding-y-30--xs g-margin-t-o-60--xs">
                  <div class="g-bg-color--primary g-padding-x-10--xs g-padding-y-5--xs g-margin-b-5--xs" style = "margin:auto; width:190px; height: 30px">
                      <h4 class="g-font-size-16--xs g-font-size-18--sm g-color--white g-margin-b-0--xs">Rayane Oubahou</h4>
                  </div>
                  <p class="g-font-weight--700" style = "padding-top:5px">Structural Leader & Social Media Leader<br>Mechanical Eng. PhD</p>
                  <p>In structural I mainly take care of the model/vibration analysis as well as the quasi-static analysis. This is to make sure the satellite sustains the loads it is being subjected to at launch and in orbit, and to ensure the structural integrity of the whole structure. Our role in the structural team is essential, as, let's get real, if the main skeleton is destroyed, the freely orbiting PCBs become random objects in space.</p>
              </div>
          </div>
          <!-- End Speaker -->
      </div>
  </div>
  <!-- <div class="col-xs-4 g-full-width--xs"> -->
      <!-- Speaker -->
      <!-- <div class="center-block g-box-shadow__dark-lightest-v1 g-width-100-percent--xs g-width-300--lg">
          <img class="img-responsive g-width-100-percent--xs" src="assets/img/head_shots/isaac.jpg" alt="Image">
          <div class="g-position--overlay g-padding-x-30--xs g-padding-y-30--xs g-margin-t-o-60--xs">
              <div class="g-bg-color--primary g-padding-x-15--xs g-padding-y-10--xs g-margin-b-20--xs">
                  <h4 class="g-font-size-22--xs g-font-size-26--sm g-color--white g-margin-b-0--xs">Isaac Chan</h4>
              </div>
              <p class="g-font-weight--700">Mission Operations Leader<br> 4th Year, Electrical Eng.</p>
              <p>Designing satellite operating modes, creating systems level architecture for the satellite. My goal is to integrate different areas of science and engineering, even ones that are not typically associated with space, into our group, and by extension, our satellite designs. </p>
              <p class="g-text-center--xs">
                <a class="g-font-size-15--xs g-color--primary" target="_blank" href="https://www.linkedin.com/in/chan-isaac-ezw/">LinkedIn</a>
              </p>
          </div>
      </div> -->
      <!-- End Speaker -->
  <!-- </div> -->
    <!-- <div class="row g-overflow--hidden"> -->
        <!-- <div class="col-xs-4 g-full-width--xs"> -->
            <!-- Speaker -->
            <!-- <div class="center-block g-box-shadow__dark-lightest-v1 g-width-100-percent--xs g-width-300--lg">
                <img class="img-responsive g-width-100-percent--xs" src="assets/img/head_shots/reef.jpg" alt="Image">
                <div class="g-position--overlay g-padding-x-30--xs g-padding-y-30--xs g-margin-t-o-60--xs">
                    <div class="g-bg-color--primary g-padding-x-15--xs g-padding-y-10--xs g-margin-b-20--xs">
                        <h4 class="g-font-size-22--xs g-font-size-26--sm g-color--white g-margin-b-0--xs">Reef Hamadah</h4>
                    </div>
                    <p class="g-font-weight--700">Power Subsystem Leader <br> 4th Year, Electrical Eng.</p>
                    <p>Currently taking the lead on the power subteam.  In charge of designing, building and testing the EPS. My aim is to be an active member in the space community in Montreal and aid its positive trajectory.</p>
                    <p class="g-text-center--xs">
                      <a class="g-font-size-15--xs g-color--primary" target="_blank" href="https://www.linkedin.com/in/reef-hamadah/">LinkedIn</a>
                  </p>
                </div>
            </div> -->
            <!-- End Speaker -->
        <!-- </div> -->
        <!-- <div class="col-xs-4 g-full-width--xs"> -->
            <!-- Speaker -->
            <!-- <div class="center-block g-box-shadow__dark-lightest-v1 g-width-100-percent--xs g-width-300--lg">
                <img class="img-responsive g-width-100-percent--xs" src="assets/img/head_shots/talha.jpg" alt="Image">
                <div class="g-position--overlay g-padding-x-30--xs g-padding-y-30--xs g-margin-t-o-60--xs">
                    <div class="g-bg-color--primary g-padding-x-15--xs g-padding-y-10--xs g-margin-b-20--xs">
                        <h4 class="g-font-size-22--xs g-font-size-26--sm g-color--white g-margin-b-0--xs">Talha Tariq</h4>
                    </div>
                    <p class="g-font-weight--700">Controls Subsystem Leader <br> 4th year, Mechanical Eng.</p>
                    <p>Ensuring optimal attitude knowledge and control of our Cubesat. My goals are to make space more accessible to students and institutions seeking research under microgravity conditions by sharing the blueprints for building CubeSats.</p>
                    <p class="g-text-center--xs">
                      <a class="g-font-size-15--xs g-color--primary" target="_blank" href="https://www.linkedin.com/in/talha-tariq-a56982110/">LinkedIn</a>
                    </p>
                </div>
            </div> -->
            <!-- End Speaker -->
        <!-- </div> -->
    <!-- </div>
    <div class="row g-overflow--hidden"> -->
        <!-- <div class="col-xs-4 g-full-width--xs g-margin-b-30--xs g-margin-b-0--lg"> -->
          <!-- Speaker -->
          <!-- <div class="center-block g-box-shadow__dark-lightest-v1 g-width-100-percent--xs g-width-300--lg">
            <img class="img-responsive g-width-100-percent--xs" src="assets/img/head_shots/jack.jpg" alt="Image">
            <div class="g-position--overlay g-padding-x-30--xs g-padding-y-30--xs g-margin-t-o-60--xs">
              <div class="g-bg-color--primary g-padding-x-15--xs g-padding-y-10--xs g-margin-b-20--xs">
                <h4 class="g-font-size-22--xs g-font-size-26--sm g-color--white g-margin-b-0--xs">Jack Sklar</h4>
              </div>
              <p class="g-font-weight--700">Software Leader <br> 4th Year, Physics and Computer Science</p>
              <p>Working on integrating all the subsystems with software that ensures efficient running of our satellite, and that handles all potential problems. I hope to positively impact the future of the space industry, ensuring the continued increasing presence of humans in space.</p>
              <p class="g-text-center--xs">
                <a class="g-font-size-15--xs g-color--primary" target="_blank" href="https://www.linkedin.com/in/jacksklar/">LinkedIn</a>
              </p>
            </div>
          </div> -->
          <!-- End Speaker -->
        <!-- </div> -->
        <!-- <div class="col-xs-4 g-full-width--xs g-margin-b-30--xs g-margin-b-0--lg"> -->
            <!-- Speaker -->
            <!-- <div class="center-block g-box-shadow__dark-lightest-v1 g-width-100-percent--xs g-width-300--lg">
                <img class="img-responsive g-width-100-percent--xs" src="assets/img/head_shots/zoltan.jpg" alt="Image">
                <div class="g-position--overlay g-padding-x-30--xs g-padding-y-30--xs g-margin-t-o-60--xs">
                    <div class="g-bg-color--primary g-padding-x-15--xs g-padding-y-10--xs g-margin-b-20--xs">
                        <h4 class="g-font-size-22--xs g-font-size-26--sm g-color--white g-margin-b-0--xs">Zoltan Bardos</h4>
                    </div>
                    <p class="g-font-weight--700">Communications EE <br> 2017 Graduate, Electrical Eng.</p>
                    <p>I’m here to help usher in the era of publically accessible space hardware!</p>
                    <p class="g-text-center--xs">
                      <a class="g-font-size-15--xs g-color--primary" target="_blank" href="https://www.linkedin.com/in/zoltan-bardos-a4525998/">LinkedIn</a>
                    </p>
                </div>
            </div> -->
            <!-- End Speaker -->
        <!-- </div> -->
        <!-- <div class="col-xs-4 g-full-width--xs g-margin-b-30--xs g-margin-b-0--lg"> -->
            <!-- Speaker -->
            <!-- <div class="center-block g-box-shadow__dark-lightest-v1 g-width-100-percent--xs g-width-300--lg">
                <img class="img-responsive g-width-100-percent--xs" src="assets/img/head_shots/bashar.jpg" alt="Image">
                <div class="g-position--overlay g-padding-x-30--xs g-padding-y-30--xs g-margin-t-o-60--xs">
                    <div class="g-bg-color--primary g-padding-x-15--xs g-padding-y-10--xs g-margin-b-20--xs">
                        <h4 class="g-font-size-22--xs g-font-size-24--sm g-color--white g-margin-b-0--xs">Basharnavaz Khan</h4>
                    </div>
                    <p class="g-font-weight--700">Control Systems<br> 1st Year Masters Student, Electrical Eng.</p>
                    <p>Researching and developing attitude estimation algorithms for control systems. Developing Hardware in loop simulations for control system performance verification.</p>
                    <p class="g-text-center--xs">
                      <a class="g-font-size-15--xs g-color--primary" target="_blank" href="https://www.linkedin.com/in/basharnavaz/">LinkedIn</a>
                    </p>
                </div>
            </div> -->
            <!-- End Speaker -->
        <!-- </div> -->
    <!-- </div> -->
</div>
<!-- End Speakers -->
