<!-- Parallax -->
<div class="js__parallax-window" style="background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(assets/img/team-photo.jpg) 50% 0 no-repeat fixed;">
    <div class="container g-text-center--xs g-padding-y-80--xs g-padding-y-125--sm">
        <div class="g-margin-b-100--xs">
            <div class="g-text-center--xs g-margin-b-50--xs">
                <div class="g-margin-b-80--xs">
                    <h2 class="g-font-size-40--xs g-font-size-50--sm g-font-size-60--md g-color--white">Better Together.</h2>
                </div>
            </div>
            <a ui-sref="contact" class="text-uppercase s-btn s-btn-icon--md s-btn--primary-brd g-radius--50 g-padding-x-60--xs">Contact Us</a>
        </div>
    </div>
</div>
<!-- End Parallax -->

<!-- Culture -->
<div class="g-promo-section g-bg-color--sky-light">
    <div class="container g-padding-y-80--xs g-padding-y-125--sm">
        <div class="row">
            <div class="col-md-4 g-margin-t-15--xs g-margin-b-60--xs g-margin-b-0--lg">
                <p class="text-uppercase g-font-size-14--xs g-font-weight--700 g-color--primary g-letter-spacing--2 g-margin-b-25--xs">Culture</p>
                <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".1s">
                    <h2 class="g-font-size-40--xs g-font-size-50--sm g-font-size-60--md">Our</h2>
                </div>
                <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".3s">
                    <h2 class="g-font-size-40--xs g-font-size-50--sm g-font-size-60--md">Mission</h2>
                </div>
            </div>
            <div class="col-md-6">
                <p class="g-font-size-18--xs">One of the founding values of the MSSG is the belief that a comprehensive approach needs to be taken when furthering human activity in space. For this reason the MSSG is a multi-disciplinary group that is comprised of Technical Research, Design Teams (CSDC, SEDS), Education, Conferences and Policy Research (SPIRG). With these different facets, the MSSG acts as a key contributor in the Canadian space sector.</p>
            </div>
        </div>
    </div>
    <div class="col-sm-3 g-promo-section__img-right--lg g-bg-position--center g-height-100-percent--md" style="top:20%;">
        <img class="img-responsive" src="assets/img/logos/logo_mssg.png" alt="Image">
    </div>
</div>
<!-- End Culture -->

<!-- Speakers -->
<div class="container g-padding-y-80--xs g-padding-y-125--sm">
    <div class="row g-overflow--hidden">
        <div class="col-xs-4 g-full-width--xs g-margin-b-30--xs g-margin-b-0--lg">
            <!-- Speaker -->
            <div class="center-block g-box-shadow__dark-lightest-v1 g-width-100-percent--xs g-width-300--lg">
                <img class="img-responsive g-width-100-percent--xs" src="assets/img/head_shots/paul.jpg" alt="Image">
                <div class="g-position--overlay g-padding-x-30--xs g-padding-y-30--xs g-margin-t-o-60--xs">
                    <div class="g-bg-color--primary g-padding-x-15--xs g-padding-y-10--xs g-margin-b-20--xs">
                        <h4 class="g-font-size-22--xs g-font-size-26--sm g-color--white g-margin-b-0--xs">Paul Albert-Lebrun</h4>
                    </div>
                    <p class="g-font-weight--700">Director, Founder</p>
                    <p></p>
                    <p class="g-text-center--xs">
                        <a class="g-font-size-15--xs g-color--primary" target="_blank" href="https://www.linkedin.com/in/paulalbertlebrun/">LinkedIn</a>
                    </p>
                </div>
            </div>
            <!-- End Speaker -->
        </div>
        <div class="col-xs-4 g-full-width--xs">
            <!-- Speaker -->
            <div class="center-block g-box-shadow__dark-lightest-v1 g-width-100-percent--xs g-width-300--lg">
                <img class="img-responsive g-width-100-percent--xs" src="assets/img/head_shots/angus.png" alt="Image">
                <div class="g-position--overlay g-padding-x-30--xs g-padding-y-30--xs g-margin-t-o-60--xs">
                    <div class="g-bg-color--primary g-padding-x-15--xs g-padding-y-10--xs g-margin-b-20--xs">
                        <h4 class="g-font-size-22--xs g-font-size-26--sm g-color--white g-margin-b-0--xs">Angus McLean</h4>
                    </div>
                    <p class="g-font-weight--700">Director, Co-Founder <br> 4th Year, Electrical Eng.</p>
                    <p>Collaboration amongst many disciplines will guide the trajectory of human activity in space to a more sustainable and conscientious future.</p>
                    <p class="g-text-center--xs">
                      <a class="g-font-size-15--xs g-color--primary" target="_blank" href="https://www.linkedin.com/in/angus-mclean-96ab4760/">LinkedIn</a>
                      &nbsp;&bull;&nbsp;
                      <a class="g-font-size-15--xs g-color--primary" target="_blank" href="https://github.com/angus-mclean">GitHub</a>
                      &nbsp;&bull;&nbsp;
                      <a class="g-font-size-15--xs g-color--primary" target="_blank" href="http://angus.mclean.ninja/">Website</a>
                    </p>
                </div>
            </div>
            <!-- End Speaker -->
        </div>
        <div class="col-xs-4 g-full-width--xs">
            <!-- Speaker -->
            <div class="center-block g-box-shadow__dark-lightest-v1 g-width-100-percent--xs g-width-300--lg">
                <img class="img-responsive g-width-100-percent--xs" src="assets/img/head_shots/harris.jpg" alt="Image">
                <div class="g-position--overlay g-padding-x-30--xs g-padding-y-30--xs g-margin-t-o-60--xs">
                    <div class="g-bg-color--primary g-padding-x-15--xs g-padding-y-10--xs g-margin-b-20--xs">
                        <h4 class="g-font-size-22--xs g-font-size-26--sm g-color--white g-margin-b-0--xs">Harris Innes-Miller</h4>
                    </div>
                    <p class="g-font-weight--700">Policy Director</p>
                    <p></p>
                </div>
            </div>
            <!-- End Speaker -->
        </div>
    </div>
    <div class="row g-overflow--hidden">
        <div class="col-xs-4 g-full-width--xs">
          <!-- Speaker -->
          <div class="center-block g-box-shadow__dark-lightest-v1 g-width-100-percent--xs g-width-300--lg">
            <img class="img-responsive g-width-100-percent--xs" src="assets/img/head_shots/felix.png" alt="Image">
            <div class="g-position--overlay g-padding-x-30--xs g-padding-y-30--xs g-margin-t-o-60--xs">
              <div class="g-bg-color--primary g-padding-x-15--xs g-padding-y-10--xs g-margin-b-20--xs">
                <h4 class="g-font-size-22--xs g-font-size-26--sm g-color--white g-margin-b-0--xs">Felix-Antoine Valin</h4>
              </div>
              <p class="g-font-weight--700">Education Director</p>
              <p></p>
            </div>
          </div>
          <!-- End Speaker -->
        </div>
        <div class="col-xs-4 g-full-width--xs">
            <!-- Speaker -->
            <div class="center-block g-box-shadow__dark-lightest-v1 g-width-100-percent--xs g-width-300--lg">
                <img class="img-responsive g-width-100-percent--xs" src="assets/img/head_shots/reef.jpg" alt="Image">
                <div class="g-position--overlay g-padding-x-30--xs g-padding-y-30--xs g-margin-t-o-60--xs">
                    <div class="g-bg-color--primary g-padding-x-15--xs g-padding-y-10--xs g-margin-b-20--xs">
                        <h4 class="g-font-size-22--xs g-font-size-26--sm g-color--white g-margin-b-0--xs">Reef Hamadah</h4>
                    </div>
                    <p class="g-font-weight--700">Power Subsystem Leader <br> 4th Year, Electrical Eng.</p>
                    <p>Currently taking the lead on the power subteam.  In charge of designing, building and testing the EPS. My aim is to be an active member in the space community in Montreal and aid its positive trajectory.</p>
                    <p class="g-text-center--xs">
                      <a class="g-font-size-15--xs g-color--primary" target="_blank" href="https://www.linkedin.com/in/reef-hamadah/">LinkedIn</a>
                  </p>
                </div>
            </div>
            <!-- End Speaker -->
        </div>
        <div class="col-xs-4 g-full-width--xs g-margin-b-30--xs g-margin-b-0--lg">
          <!-- Speaker -->
          <div class="center-block g-box-shadow__dark-lightest-v1 g-width-100-percent--xs g-width-300--lg">
            <img class="img-responsive g-width-100-percent--xs" src="assets/img/head_shots/gregory.jpg" alt="Image">
            <div class="g-position--overlay g-padding-x-30--xs g-padding-y-30--xs g-margin-t-o-60--xs">
              <div class="g-bg-color--primary g-padding-x-15--xs g-padding-y-10--xs g-margin-b-20--xs">
                <h4 class="g-font-size-22--xs g-font-size-26--sm g-color--white g-margin-b-0--xs">Gregory Brookes</h4>
              </div>
              <p class="g-font-weight--700">Executive Member</p>
              <p></p>
            </div>
          </div>
          <!-- End Speaker -->
        </div>
    </div>
</div>
<!-- End Speakers -->
