<!-- Parallax -->
<div class="js__parallax-window" style="background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(assets/img/team-photo.jpg) 50% 0 no-repeat fixed; background-size: cover;">
    <div class="container g-text-center--xs g-padding-y-80--xs g-padding-y-125--sm">
        <div class="g-margin-b-100--xs">
            <div class="g-text-center--xs g-margin-b-50--xs">
                <div class="g-margin-b-80--xs">
                    <h2 class="g-font-size-40--xs g-font-size-50--sm g-font-size-60--md g-color--white">Better Together.</h2>
                </div>
            </div>
            <a ui-sref="contact" class="text-uppercase s-btn s-btn-icon--md s-btn--primary-brd g-radius--50 g-padding-x-60--xs s-btn-margin-20">Contact Us</a>
        </div>
    </div>
</div>
<!-- End Parallax -->

<!-- Culture -->
<div class="g-promo-section g-bg-color--sky-light">
    <div class="container g-padding-y-80--xs g-padding-y-125--sm">
        <div class="row">
            <div class="col-md-4 g-margin-t-15--xs g-margin-b-20--xs g-margin-b-0--lg">
                <p class="text-uppercase g-font-size-14--xs g-font-weight--700 g-color--primary g-letter-spacing--2 g-margin-b-25--xs">Culture</p>
                <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".1s">
                    <h2 class="g-font-size-40--xs g-font-size-50--sm g-font-size-60--md">Our</h2>
                </div>
                <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".3s">
                    <h2 class="g-font-size-40--xs g-font-size-50--sm g-font-size-60--md">Mission</h2>
                </div>
            </div>
            <div class="col-md-6">
                <p class="g-font-size-18--xs">One of the founding values of the MSG is the belief that a comprehensive approach needs to be taken when furthering human activity in space. For this reason the MSG is a multi-disciplinary group that is comprised of Technical Research, CSDC Design Teams, Education, and Conferences. With these different facets, the MSG acts as a key contributor in the Canadian space sector.</p>
            </div>
        </div>
    </div>
    <div class="col-sm-3 g-promo-section__img-right--lg g-bg-position--center g-height-100-percent--md" style="top:20%; width:20%;">
        <img class="img-responsive" src="assets/img/logo/MSG_Logo_full.png" alt="Image">
    </div>
</div>
<!-- End Culture -->

<!-- Speakers -->
<div class="container g-padding-y-80--xs g-padding-y-125--sm">
    <div class="row g-overflow--hidden">
        <div class="col-xs-4 g-full-width--xs">
            <!-- Speaker -->
            <div class="center-block g-box-shadow__dark-lightest-v1 g-width-100-percent--xs g-width-300--lg">
                <img class="img-responsive g-width-100-percent--xs" src="assets/img/head_shots/youssef.png" alt="Image">
                <div class="g-position--overlay g-padding-x-30--xs g-padding-y-30--xs g-margin-t-o-60--xs">
                    <div class="g-bg-color--primary g-padding-x-15--xs g-padding-y-10--xs g-margin-b-20--xs">
                        <h4 class="g-font-size-22--xs g-font-size-26--sm g-color--white g-margin-b-0--xs">Youssef Bestavros</h4>
                    </div>
                    <p class="g-font-weight--700">Technical Director<br>4th Year, Physics Major</p>
                    <p>My role in the MSG is to oversee the designing and the building of the Payload, Controls and Communications subteams. I am very driven and passionate about space exploration and the numerous applications within the space industry. My research interests include looking at exoplanets and trying to characterize their atmospheres and surface features, which can help us detect biosignatures in the future. My main driving force in life is realizing that I can contribute to this industry with the help of the MSG.</p>
                    <p class="g-text-center--xs">
                      <a class="g-font-size-15--xs g-color--primary" target="_blank" href="https://github.com/Joe1best">GitHub</a>
                    </p>
                </div>
            </div>
            <!-- End Speaker -->
        </div>
        <div class="col-xs-4 g-full-width--xs">
            <!-- Speaker -->
            <div class="center-block g-box-shadow__dark-lightest-v1 g-width-100-percent--xs g-width-300--lg">
                <img class="img-responsive g-width-100-percent--xs" src="assets/img/head_shots/david.png" alt="Image">
                <div class="g-position--overlay g-padding-x-30--xs g-padding-y-30--xs g-margin-t-o-60--xs">
                    <div class="g-bg-color--primary g-padding-x-15--xs g-padding-y-10--xs g-margin-b-20--xs">
                        <h4 class="g-font-size-22--xs g-font-size-26--sm g-color--white g-margin-b-0--xs">David Castonguay</h4>
                    </div>
                    <p class="g-font-weight--700">Technical Director<br>4th Year, Electrical & Aerospace Eng. Major</p>
                    <p>Being in the MSG is something that completely enhanced my time in McGill University.  I have been in the MSG for over 2 years and I am now the technical director for the power, software and structural subsystems.  The MSG has allowed me to learn from left to right about extracurricular knowledge I otherwise would have never known.</p>
                </div>
            </div>
            <!-- End Speaker -->
        </div>
        <div class="col-xs-4 g-full-width--xs g-margin-b-30--xs g-margin-b-0--lg">
            <!-- Speaker -->
            <div class="center-block g-box-shadow__dark-lightest-v1 g-width-100-percent--xs g-width-300--lg">
            <img class="img-responsive g-width-100-percent--xs" src="assets/img/head_shots/mashood.png" alt="Image">
            <div class="g-position--overlay g-padding-x-30--xs g-padding-y-30--xs g-margin-t-o-60--xs">
              <div class="g-bg-color--primary g-padding-x-15--xs g-padding-y-10--xs g-margin-b-20--xs">
                <h4 class="g-font-size-22--xs g-font-size-26--sm g-color--white g-margin-b-0--xs">Mashood Ahmed</h4>
              </div>
              <p class="g-font-weight--700">Director<br>4th Year, Electrical & Software Eng. Major</p>
              <!-- <p>Since always, education has been a passion of mine. The transfer of knowledge is one the most essential aspects in our society, and I believe space education needs to be taught at an earlier stage than it is now. The youth we've encountered so far has a thirst for space exploration and we need to let them know that it is not field reserved for engineers and physicists. Anyone can join the space front!</p> -->
              <p>The McGill Space Group is one of the highlights of my time at McGill. It has transformed my perspective and allowed me to grow tremendously as a person. As Team Leader, I oversee the different groups within the MSG and make sure once our satellite is up in space, we don’t ever have to say “Uh, Houston, we've had a problem”. Given the complex design of each subsystem, one of my primary roles is to ensure that the overall architecture of our spacecraft is feasible and technically sound. I can’t wait to get our first CubeSat launched into space. In fact, I can almost imagine it!</p>
              <p class="g-text-center--xs">
                <a class="g-font-size-15--xs g-color--primary" target="_blank" href="https://www.linkedin.com/in/amashood/">LinkedIn</a>
              </p>
            </div>
          </div>
            <!-- End Speaker -->
        </div>
        <div class="col-xs-4 g-full-width--xs">
            <!-- Speaker -->
            <div class="center-block g-box-shadow__dark-lightest-v1 g-width-100-percent--xs g-width-300--lg">
                <img class="img-responsive g-width-100-percent--xs" src="assets/img/head_shots/louis.png" alt="Image">
                <div class="g-position--overlay g-padding-x-30--xs g-padding-y-30--xs g-margin-t-o-60--xs">
                    <div class="g-bg-color--primary g-padding-x-15--xs g-padding-y-10--xs g-margin-b-20--xs">
                        <h4 class="g-font-size-22--xs g-font-size-26--sm g-color--white g-margin-b-0--xs">Louis Bacou</h4>
                    </div>
                    <p class="g-font-weight--700">Finance Director<br>3rd Year, Finance & Business Analytics</p>
                    <p>I joined the MSG back in 2018 as a member of the Finance Team. Having no Engineering background and only basic scientific knowledge, I was still able to contribute to the team by taking care of budgeting, funding and other money-related activities. Throughout my time in the Club I got to learn a lot about the Space industry and understand the technical implications of building a fully working satellite. In the future, I would enjoy working for a company involved in the Aerospace industry.</p>
                </div>
            </div>
            <!-- End Speaker -->
        </div>
        <div class="col-xs-4 g-full-width--xs">
            <!-- Speaker -->
            <div class="center-block g-box-shadow__dark-lightest-v1 g-width-100-percent--xs g-width-300--lg">
                <img class="img-responsive g-width-100-percent--xs" src="assets/img/head_shots/paul.jpg" alt="Image">
                <div class="g-position--overlay g-padding-x-30--xs g-padding-y-30--xs g-margin-t-o-60--xs">
                    <div class="g-bg-color--primary g-padding-x-15--xs g-padding-y-10--xs g-margin-b-20--xs">
                        <h4 class="g-font-size-22--xs g-font-size-26--sm g-color--white g-margin-b-0--xs">Paul Albert-Lebrun</h4>
                    </div>
                    <p class="g-font-weight--700">Founder</p>
                    <p></p>
                    <p class="g-text-center--xs">
                        <a class="g-font-size-15--xs g-color--primary" target="_blank" href="https://www.linkedin.com/in/paulalbertlebrun/">LinkedIn</a>
                    </p>
                </div>
            </div>
            <!-- End Speaker -->
        </div>
        <div class="col-xs-4 g-full-width--xs">
            <!-- Speaker -->
            <div class="center-block g-box-shadow__dark-lightest-v1 g-width-100-percent--xs g-width-300--lg">
                <img class="img-responsive g-width-100-percent--xs" src="assets/img/head_shots/angus.png" alt="Image">
                <div class="g-position--overlay g-padding-x-30--xs g-padding-y-30--xs g-margin-t-o-60--xs">
                    <div class="g-bg-color--primary g-padding-x-15--xs g-padding-y-10--xs g-margin-b-20--xs">
                        <h4 class="g-font-size-22--xs g-font-size-26--sm g-color--white g-margin-b-0--xs">Angus McLean</h4>
                    </div>
                    <p class="g-font-weight--700">Co-Founder</p>
                    <p>Collaboration amongst many disciplines will guide the trajectory of human activity in space to a more sustainable and conscientious future.</p>
                    <p class="g-text-center--xs">
                      <a class="g-font-size-15--xs g-color--primary" target="_blank" href="https://www.linkedin.com/in/angus-mclean-96ab4760/">LinkedIn</a>
                      &nbsp;&bull;&nbsp;
                      <a class="g-font-size-15--xs g-color--primary" target="_blank" href="https://github.com/angus-mclean">GitHub</a>
                      &nbsp;&bull;&nbsp;
                      <a class="g-font-size-15--xs g-color--primary" target="_blank" href="http://angus.mclean.ninja/">Website</a>
                    </p>
                </div>
            </div>
            <!-- End Speaker -->
        </div>
    </div>
    <!-- <div class="row g-overflow--hidden"> -->
        <!-- <div class="col-xs-4 g-full-width--xs"> -->
          <!-- Speaker -->
          <!-- <div class="center-block g-box-shadow__dark-lightest-v1 g-width-100-percent--xs g-width-300--lg">
                <img class="img-responsive g-width-100-percent--xs" src="assets/img/head_shots/harris.jpg" alt="Image">
                <div class="g-position--overlay g-padding-x-30--xs g-padding-y-30--xs g-margin-t-o-60--xs">
                    <div class="g-bg-color--primary g-padding-x-15--xs g-padding-y-10--xs g-margin-b-20--xs">
                        <h4 class="g-font-size-22--xs g-font-size-26--sm g-color--white g-margin-b-0--xs">Harris Innes-Miller</h4>
                    </div>
                    <p class="g-font-weight--700">Policy Director</p>
                    <p></p>
                </div>
            </div> -->
          <!-- End Speaker -->
        <!-- </div> -->
        <!-- <div class="col-xs-4 g-full-width--xs g-margin-b-30--xs g-margin-b-0--lg"> -->
          <!-- Speaker -->
          <!-- <div class="center-block g-box-shadow__dark-lightest-v1 g-width-100-percent--xs g-width-300--lg">
                <img class="img-responsive g-width-100-percent--xs" src="assets/img/head_shots/reef.jpg" alt="Image">
                <div class="g-position--overlay g-padding-x-30--xs g-padding-y-30--xs g-margin-t-o-60--xs">
                    <div class="g-bg-color--primary g-padding-x-15--xs g-padding-y-10--xs g-margin-b-20--xs">
                        <h4 class="g-font-size-22--xs g-font-size-26--sm g-color--white g-margin-b-0--xs">Reef Hamadah</h4>
                    </div>
                    <p class="g-font-weight--700">Power Subsystem Leader <br> 4th Year, Electrical Eng.</p>
                    <p>Currently taking the lead on the power subteam.  In charge of designing, building and testing the EPS. My aim is to be an active member in the space community in Montreal and aid its positive trajectory.</p>
                    <p class="g-text-center--xs">
                      <a class="g-font-size-15--xs g-color--primary" target="_blank" href="https://www.linkedin.com/in/reef-hamadah/">LinkedIn</a>
                  </p>
                </div>
            </div> -->
          <!-- End Speaker -->
        <!-- </div> -->
    </div>
</div>
<!-- End Speakers -->
