<!-- Parallax -->
<div class="js__parallax-window" style="background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(assets/img/team-photo.jpg) 50% 0 no-repeat fixed; background-size: cover;">
    <div class="container g-text-center--xs g-padding-y-80--xs g-padding-y-125--sm">
        <div class="g-margin-b-100--xs">
            <div class="g-text-center--xs g-margin-b-50--xs">
                <div class="g-margin-b-80--xs">
                    <h2 class="g-font-size-40--xs g-font-size-50--sm g-font-size-60--md g-color--white">Learn by Sharing.</h2>
                </div>
            </div>
            <a g-full-width--xsref="contact" class="text-uppercase s-btn s-btn-icon--md s-btn--primary-brd g-radius--50 g-padding-x-60--xs">Contact Us</a>

            <a href="https://goo.gl/forms/5kBJ64MIaXrey9hk1" target="_blank" class="text-uppercase s-btn s-btn-icon--md s-btn--primary-brd g-radius--50 g-padding-x-45--xs s-btn-margin-20">Join the CSDC team!</a>
        </div>
    </div>
</div>
<!-- End Parallax -->

<!-- News -->
<div class="container g-padding-y-80--xs g-padding-y-125--sm">
    <div class="g-text-center--xs g-margin-b-80--xs">
        <p class="text-uppercase g-font-size-14--xs g-font-weight--700 g-color--primary g-letter-spacing--2 g-margin-b-25--xs">Academic Papers</p>
        <h2 class="g-font-size-32--xs g-font-size-36--md">Read our latest work.</h2>
    </div>
    <div class="row">
        <div class="col-sm-4 g-margin-b-30--xs g-margin-b-0--md">
            <!-- News -->
            <article>
                <a ui-sref="papers-orbitservicing">
                  <img class="img-responsive" src="assets/img/banners/canadaarm.jpg" alt="Image">
                </a>
                <div class="g-bg-color--white g-box-shadow__dark-lightest-v2 g-text-center--xs g-padding-x-40--xs g-padding-y-40--xs">
                    <p class="text-uppercase g-font-size-14--xs g-font-weight--700 g-color--primary g-letter-spacing--2"><a ui-sref="papers-orbitservicing">Space Industry</a></p>
                    <h3 class="g-font-size-22--xs g-letter-spacing--1"><a ui-sref="papers-orbitservicing">Article</a></h3>
                    <p>Dawn of Commercial Space Exploration and On-Orbit Satellite Services</p>
                </div>
            </article>
            <!-- End News -->
        </div>
        <div class="col-sm-4 g-margin-b-30--xs g-margin-b-0--md">
            <!-- News -->
            <article>
                <a href="assets\files\policy\MSG_Policy_Space-Dev-Overview-Middle-East-North-Africa.pdf" target="_blank">
                  <img class="img-responsive" src="assets/img/banners/cubesat_banner.png" alt="Image">
                </a>
                <div class="g-bg-color--white g-box-shadow__dark-lightest-v2 g-text-center--xs g-padding-x-40--xs g-padding-y-40--xs">
                    <p class="text-uppercase g-font-size-14--xs g-font-weight--700 g-color--primary g-letter-spacing--2"><a href="assets\files\policy\MSG_Policy_Space-Dev-Overview-Middle-East-North-Africa.pdf" target="_blank">Space Industry</a></p>
                    <h3 class="g-font-size-22--xs g-letter-spacing--1"><a href="assets\files\policy\MSG_Policy_Space-Dev-Overview-Middle-East-North-Africa.pdf" target="_blank">Brief</a></h3>
                    <p>Space Development Overview of the Middle East and North Africa</p>
                    <p class="g-font-size-10--xs g-font-size-10--md g-font-size-12--lg">*This article is only available through download.</p>
                </div>
            </article>
            <!-- End News -->
        </div>
        <div class="col-sm-4 g-margin-b-30--xs g-margin-b-0--md">
            <!-- News -->
            <article>
                <a ui-sref="coming_soon">
                  <img class="img-responsive" src="assets/img/banners/rocket_launch.jpg" alt="Image">
                </a>
                <div class="g-bg-color--white g-box-shadow__dark-lightest-v2 g-text-center--xs g-padding-x-40--xs g-padding-y-40--xs">
                    <p class="text-uppercase g-font-size-14--xs g-font-weight--700 g-color--primary g-letter-spacing--2"><a ui-sref="coming_soon">Space Industry</a></p>
                    <h3 class="g-font-size-22--xs g-letter-spacing--1"><a ui-sref="coming_soon">Paper</a></h3>
                    <p>Understanding the policies that have shaped our industry.</p>
                </div>
            </article>
            <!-- End News -->
        </div>
    </div>
</div>
<!-- End News -->
