<!-- Parallax -->
<div class="js__parallax-window" style="background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(assets/img/team-photo.jpg) 50% 0 no-repeat fixed; background-size: cover;">
    <div class="container g-text-center--xs g-padding-y-80--xs g-padding-y-125--sm">
        <div class="g-margin-b-100--xs">
            <div class="g-text-center--xs g-margin-b-50--xs">
                <div class="g-margin-b-80--xs">
                    <h2 class="g-font-size-40--xs g-font-size-50--sm g-font-size-60--md g-color--white">Pave the way.</h2>
                </div>
            </div>
            <a ui-sref="contact" class="text-uppercase s-btn s-btn-icon--md s-btn--primary-brd g-radius--50 g-padding-x-60--xs">Contact Us</a>
        </div>
    </div>
</div>
<!-- End Parallax -->

<!-- Culture -->
<div class="g-promo-section g-bg-color--sky-light">
    <div class="container g-padding-y-80--xs g-padding-y-125--sm">
        <div class="row">
            <div class="col-md-4 g-margin-t-15--xs g-margin-b-60--xs g-margin-b-0--lg">
                <p class="text-uppercase g-font-size-14--xs g-font-weight--700 g-color--primary g-letter-spacing--2 g-margin-b-25--xs">Culture</p>
                <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".1s">
                    <h2 class="g-font-size-40--xs g-font-size-50--sm g-font-size-60--md">Our</h2>
                </div>
                <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".3s">
                    <h2 class="g-font-size-40--xs g-font-size-50--sm g-font-size-60--md">Mission</h2>
                </div>
            </div>
            <div class="col-md-6">
                <p class="g-font-size-18--xs">SPIRG aims to understand the governmental and corporate actors who have shaped the space industrial ecosystem. In endeavoring to do so, we read policy and technology briefs, legislation, market information, and many other sources of news so that we can more fully appreciate the political constructs that have both enabled and hindered the progress of space development.</p>
            </div>
        </div>
    </div>
    <div class="col-sm-3 g-promo-section__img-right--lg g-bg-position--center g-height-100-percent--md" style="top:20%;">
        <img class="img-responsive" src="assets/img/logos/logo_policy.png" style="width:60%; position:relative; right:-50px;" alt="Image">
    </div>
</div>
<!-- End Culture -->

<!-- Speakers -->
<div class="container g-padding-y-80--xs g-padding-y-125--sm">
    <div class="row g-overflow--hidden">
        <div class="col-xs-4 g-full-width--xs g-margin-b-30--xs g-margin-b-0--lg">
            <!-- Speaker -->
            <div class="center-block g-box-shadow__dark-lightest-v1 g-width-100-percent--xs g-width-300--lg">
                <img class="img-responsive g-width-100-percent--xs" src="assets/img/head_shots/harris.jpg" alt="Image">
                <div class="g-position--overlay g-padding-x-30--xs g-padding-y-30--xs g-margin-t-o-60--xs">
                    <div class="g-bg-color--primary g-padding-x-15--xs g-padding-y-10--xs g-margin-b-20--xs">
                        <h4 class="g-font-size-22--xs g-font-size-26--sm g-color--white g-margin-b-0--xs">Harris Innes-Miller</h4>
                    </div>
                    <p class="g-font-weight--700">Policy Director</p>
                    <p></p>
                </div>
            </div>
            <!-- End Speaker -->
        </div>
        <div class="col-xs-4 g-full-width--xs">
            <!-- Speaker -->
            <div class="center-block g-box-shadow__dark-lightest-v1 g-width-100-percent--xs g-width-300--lg">
                <img class="img-responsive g-width-100-percent--xs" src="assets/img/head_shots/nicole.jpg" alt="Image">
                <div class="g-position--overlay g-padding-x-30--xs g-padding-y-30--xs g-margin-t-o-60--xs">
                    <div class="g-bg-color--primary g-padding-x-15--xs g-padding-y-10--xs g-margin-b-20--xs">
                        <h4 class="g-font-size-22--xs g-font-size-26--sm g-color--white g-margin-b-0--xs">Nicole Spadotto</h4>
                    </div>
                    <p class="g-font-weight--700">Team Leader</p>
                    <p></p>
                </div>
            </div>
            <!-- End Speaker -->
        </div>
        <div class="col-xs-4 g-full-width--xs">
            <!-- Speaker -->
            <div class="center-block g-box-shadow__dark-lightest-v1 g-width-100-percent--xs g-width-300--lg">
                <img class="img-responsive g-width-100-percent--xs" src="assets/img/head_shots/eric.jpg" alt="Image">
                <div class="g-position--overlay g-padding-x-30--xs g-padding-y-30--xs g-margin-t-o-60--xs">
                    <div class="g-bg-color--primary g-padding-x-15--xs g-padding-y-10--xs g-margin-b-20--xs">
                        <h4 class="g-font-size-22--xs g-font-size-26--sm g-color--white g-margin-b-0--xs">Eric Saragosa</h4>
                    </div>
                    <p class="g-font-weight--700">Team Leader</p>
                    <p></p>
                </div>
            </div>
            <!-- End Speaker -->
        </div>
    </div>
</div>
<!-- End Speakers -->
