<!--========== PROMO BLOCK ==========-->
<div>
    <div class="container g-padding-y-125--xs">
        <div class="g-padding-y-50--xs">
            <h1 class="g-font-size-35--xs g-font-size-55--sm g-font-size-70--lg">3U CSDC CubeSat</h1>
            <p class="g-font-size-22--xs g-font-size-24--md g-margin-b-0--xs">An inside look into our CSDC CubeSat</p>
        </div>
        <div>
          <img src="/assets/img/logos/csdcms_logo.png" style="position: relative; margin: auto; width: auto; left: 100px; right: 100px; top: 5%;">
        </div>
        <!--== SPONSORS LOGOS ==-->
        <div class="g-padding-y-50--xs">
          <a href = "https://mcgilleus.ca/" target="_blank"><img src="/assets/img/sponsors/eus_logo.png" style="position: relative; width: 15%; right: -80px; top: 0%;"></a>
          <a href = "http://www.mcgill.ca/careers4engineers/engineering-career-centre" target="_blank"><img src="/assets/img/sponsors/MESC.png" style="position: relative; width: 30%; right: -120px; top: 0%;"></a>
          <a href = "https://www.mcgill.ca/miae/" target="_blank"><img src="/assets/img/sponsors/miae.jpg" style="position: relative; width: 40%; right: -160px; top: 0%;"></a>
          <a href = "http://www.ngcaerospace.com/" target="_blank"><img src="/assets/img/sponsors/ngc.jpg" style="position: relative; width: 30%; right: -450px; top: 0%;"></a>
        </div>
    </div>
</div>
<!--========== END PROMO BLOCK ==========-->
