<!--========== PROMO BLOCK ==========-->
<div>
    <div class="container g-padding-y-50--xs" style = "margin-top:75px">
        <div>
            <h1 class="g-font-size-35--xs g-font-size-55--sm g-font-size-70--lg">3U CSDC CubeSat</h1>
            <p class="g-font-size-22--xs g-font-size-24--md g-margin-b-0--xs">An inside look into our CSDC CubeSat</p>
        </div>
        <div>
          <img src="/assets/img/logos/csdcms_logo.png" style="position: relative; margin: auto; width: 300px;  height: 300px; left: 100px; right: 100px; top: 5%;">
          <img src="/assets/img/banners/Render10.png" style="position: relative; margin:0px; width: 800px;  height: 480px; left: 100px; right: 100px; top: 5%;">
        </div>
        <!--== SPONSORS LOGOS ==-->
    </div>
</div>
<!--========== END PROMO BLOCK ==========-->
